@import "tailwindcss";

@theme {
  --color-background: #0C0C0C;
  --color-section: #191919;
  --color-primary: #9660FB;
  --color-primary-dark: #7C4FFF;
}

body {
  background-color: var(--color-background);
  color: white;
}

/* Add any custom @utility or @layer rules here if needed */